<!doctype html>

<!--[if IE 8]><html class="ie8 ie-all" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-all" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 10]><html class="ie10 ie-all" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if !IE]><!-->
<!--<![endif]-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Place favicon.ico and apple-touch-icon.png (72x72) in the root directory -->
    <link rel="apple-touch-icon" href="/upload/b-144x144.png">
    <link rel="apple-touch-icon" href="/upload/b-114x114.png">
    <link rel="apple-touch-icon" href="/upload/b-72x72.png">
    <link rel="shortcut icon" href="/upload/b-16x16.png">

    <!-- HTML5 enabling script -->
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <title>Miro Inside</title>

    <link rel='stylesheet' href='/js/LayerSlider/static/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/js/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/ish-fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/tooltipster.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/main-options.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/main-options_2.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/js/mediaelement/mediaelementplayer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/js/mediaelement/wp-mediaelement.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/js_composer.min.css' type='text/css' media='all' />


    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C&amp;ver=4.4.2' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu%3A400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C700%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C700%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C&amp;ver=4.4.2' type='text/css' media='all' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.js"></script>
</head>

<body class="page page-id-2648 page-template-default ish-unboxed ish-responsive_layout_on ish-sticky-on  wpb-js-composer js-comp-ver-4.10 vc_responsive">
  <!-- 제목 누르면 BoardShow.ejs로 들어가도록 -->
  <!-- BoardsShow/:id  -->
  <!-- 게시글 순서는 제일 최신께 제일 위로 오도록 -> for문  -->
  <!-- if문을 사용해서 사진이 있으면 보이도록? 아니면 그림 아이콘을 넣어 -->
<!-- 코드글이면 조금 다르게 보여야함 사진처럼? -고려  -->

    <div class="ish-body">


        <!-- Search bar -->
        <section class="ish-part_searchbar ish-a-search">
            <div>
                <form role="search" method="get" id="headersearchform" action="#">
                    <label>
                        <input type="text" value="" name="s" id="s" autocomplete="off" placeholder="Search ...">
                    </label>
                </form>

                <a href="#close" class="ish-ps-searchform_close ish-icon-cancel" title="Close Search (ESC)"></a>
            </div>
        </section>
        <!-- Search bar END -->

        <!-- Wrap whole page -->
        <div class="ish-wrapper-all">

          <!-- Header part section -->
          <section class="ish-part_header">
              <div class="ish-row ish-row-notfull">
                  <div class="ish-row_inner">
                    <!-- Logo image / text -->
                    <a class = "ish-ph-logo" href = "/">
                      <span>
                        <img src="/images/Miro_logo_clear.png" alt="Miro_logo_clear" title="Miro_logo_clear" />
                      </span>
                    </a>

                      <!-- Default HTML tagline -->

                      <!-- Main navigation -->
                      <nav class="ish-ph-main_nav">
                          <ul id="mainnav" class="ish-ph-mn-main_nav ish-nt-regular">
                              <li class="hide-text menu-item current_page_parent menu-item-has-children ish-nav-ic-item"><a href="/"><i class="ish-icon-home ish-nav-ic"></i><span class="ish-nav-ic-text"> Home</span></a>
                                  <!--
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="home-layer-slider.html">Home Layer Slider</a></li>
                                      <li class="menu-item current_page_item"><a href="index.html">Home Revolution Slider</a></li>
                                      <li class="menu-item"><a href="home-creative.html">Home Creative</a></li>
                                      <li class="menu-item"><a href="home-classic.html">Home Classic</a></li>
                                      <li class="menu-item"><a href="home-portfolio.html">Home Portfolio</a></li>
                                      <li class="menu-item"><a href="home-creative-boxed.html">Home Creative Boxed</a></li>
                                      <li class="menu-item"><a href="home-portfolio-boxed.html">Home Portfolio Boxed</a></li>
                                      <li class="menu-item"><a href="home-classic-sidebar.html">Home Classic with Sidebar</a></li>
                                  </ul>
                                -->
                              </li>
                              <!--
                              <li class="menu-item menu-item-has-children"><a href="portfolios.html">Portfolios</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="3d-cube.html">3D Cube</a></li>
                                      <li class="menu-item"><a href="3d-flip.html">3D Flip</a></li>
                                      <li class="menu-item"><a href="zoom.html">Zoom In</a></li>
                                      <li class="menu-item"><a href="zoom-rotate.html">Zoom In &#038; Rotate</a></li>
                                      <li class="menu-item"><a href="handkerchief.html">Detail &#8211; Decent</a></li>
                                      <li class="menu-item"><a href="office-guy.html">Detail &#8211; Creative</a></li>
                                      <li class="menu-item"><a href="uuuu-dr.html">Detail &#8211; Photography</a></li>
                                  </ul>
                              </li>
                            -->
                              <li class="menu-item menu-item-has-children menu-item-552"><a href="/">동아리 소식</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="/">동아리 소개</a></li>
                                      <li class="menu-item"><a href="/Notice">공지사항</a></li>
                                      <!-- <li class="menu-item"><a href="/Calendar">일정</a></li> -->
                                      <li class="menu-item"><a href="/Contact">CONTACT</a></li>
                                      <li class="menu-item"><a href="http://miro2018.com/" target="_blank">지원하기</a></li>

                                      <!--
                                      <li class="menu-item"><a href="contact.html">Contact</a></li>
                                      <li class="menu-item"><a href="about-team.html">About / Team</a></li>
                                      <li class="menu-item"><a href="custom-404-error-page.html">Custom 404 Error Page</a></li>
                                      <li class="menu-item"><a href="home-creative-boxed.html">Home Creative Boxed</a></li>
                                      <li class="menu-item"><a href="home-portfolio-boxed.html">Home Portfolio Boxed</a></li>
                                      <li class="menu-item"><a href="home-portfolio.html">Home Portfolio</a></li>
                                      <li class="menu-item"><a href="home-classic.html">Home Classic</a></li>
                                      <li class="menu-item"><a href="home-classic-sidebar.html">Home Classic with Sidebar</a></li>
                                      -->
                                  </ul>
                              </li>
                              <li class="menu-item menu-item-has-children menu-item-724"><a href="/Boards">게시판</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="/Codes">코드게시판</a></li>
                                      <li class="menu-item"><a href="/Resources">자료게시판</a></li>
                                      <li class="menu-item"><a href="/Questions">질문게시판</a></li>

                                      <!--
                                      <li class="menu-item"><a href="blog.html">Full-width</a></li>
                                      <li class="menu-item"><a href="classic-blog.html">Classic</a></li>
                                      <li class="menu-item"><a href="classic-blog-left-sidebar.html">Classic &#8211; Left Sidebar</a></li>
                                      <li class="menu-item"><a href="classic-blog-right-sidebar.html">Classic &#8211; Right Sidebar</a></li>
                                      <li class="menu-item"><a href="masonry-grid-blog.html">Masonry Grid</a></li>
                                      <li class="menu-item"><a href="masonry-grid-full-width-blog.html">Masonry Grid &#8211; Full-width</a></li>
                                      <li class="menu-item"><a href="masonry-tiles-blog.html">Masonry Tiles</a></li>
                                      <li class="menu-item"><a href="masonry-tiles-full-width-blog.html">Masonry Tiles &#8211; Full-width</a></li>
                                      -->
                                  </ul>
                              </li>
                              <li class="menu-item"><a href="/Attendance">출석</a>
                              </li>
                              <li class="menu-item menu-item-has-children"><a href="/FAQ">FAQ</a>
                              </li>
                                <%if(user == undefined){%>
                                <li class="menu-item menu-item-has-children"><a>로그인/회원가입</a>
                                  <ul class="sub-menu">
                                      <form action="/login" method="post" autocomplete="off" style="padding-right: 25px; padding-top: 5px;">
                                        <li class="menu-item"><input type="text" name="id"  size="15" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="ID(required)" required/></span> </p></li>
                                        <li class="menu-item"><input type="password" name="password"  size="15" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Password(required)" required/></span> </p></li>
                                        <li class="menu-item"><input type="submit" value="login" ></li>
                                      </form>
                                      <li class="menu-item"><a href="/register">아이디가 없으세요?</a></li>
                                  </ul>
                                </li>
                              <%}else{%>
                                <li class="menu-item menu-item-has-children"><a href="/logout"><%=user.id%>님 로그아웃</a>
                                </li>
                                <li class="menu-item menu-item-has-children"><a>채팅</a>

                                  <ul class="sub-menu">
                                      <li class="menu-item"><a href="/chatAnonymous">익명채팅방</a></li>
                                      <li class="menu-item"><a href="/chatRealName">실명채팅방</a></li>
                                  </ul>
                                </li>
                              <%}%>

                              <!-- <li class="current_page_item menu-item"><a href="http://themeforest.net/item/boldial-wp-flat-creative-theme-with-3d-portfolio/7771632?ref=IshYoBoy">Buy</a></li>  -->
                              <li class="ish-ph-mn-search">
                                  <a href="#search" class="ish-icon-search"></a>
                              </li>

                          </ul>
                          <!-- Responsive or sidenav navigation -->
                          <ul class="ish-ph-mn-resp_nav ish-ph-mn-hidden">
                              <!-- Resp menu button -->
                              <li class="ish-ph-mn-resp_menu">
                                  <a href="#respnav" class="ish-icon-menu"></a>
                              </li>

                              <!-- Search button if enabled -->
                              <li class="ish-ph-mn-search">
                                  <a href="#search" class="ish-icon-search"></a>
                              </li>


                          </ul>

                      </nav>
                  </div>
              </div>
          </section>
          <!-- Header part section END -->


            <div class="ish-part_tagline ish-tagline_custom ish-tagline-colored">
                <div class="ish-row ish-row-notfull">
                    <div class="ish-row_inner">
                        <h1>MIRO Boards</h1>
                        <h2>You can look at our common projects in detail.</h2></div>
                </div>
            </div>
            <div class="ish-part_breadcrumbs">
                <div class="ish-row ish-row-notfull">
                    <div class="ish-row_inner">
                        <div class="ish-pb-breadcrumbs">
                            <div>
                                <div>
                                    <a class="ish-pb-breadcrumbs-home" href="index.html"><span>Home</span></a>  > 게시판</div>
                            </div>
                        </div>
                        <div class="ish-pb-socials">
                            <div class="ish-sc-element ish-sc_icon ish-simple ish-color1 ish-tooltip-color1 ish-tooltip-text-color3" data-type="tooltip" title="Twitter"><a href="#" style="color: #ffffff; background-color: #00acee;" target="_blank"><span><span class="ish-icon-twitter"></span></span></a></div>

                            <div class="ish-sc-element ish-sc_icon ish-simple ish-color1 ish-tooltip-color1 ish-tooltip-text-color3" data-type="tooltip" title="Facebook"><a href="#" style="color: #ffffff; background-color: #3b5998;" target="_blank"><span><span class="ish-icon-facebook"></span></span></a></div>
                            <!--
                            <div class="ish-sc-element ish-sc_icon ish-simple ish-color1 ish-tooltip-color1 ish-tooltip-text-color3" data-type="tooltip" title="Dribbble"><a href="#" style="color: #ffffff; background-color: #ea4c89;" target="_blank"><span><span class="ish-icon-dribbble"></span></span></a></div>

                            <div class="ish-sc-element ish-sc_icon ish-simple ish-color1 ish-tooltip-color1 ish-tooltip-text-color3" data-type="tooltip" title="Behance"><a href="#" style="color: #ffffff; background-color: #005cff;" target="_blank"><span><span class="ish-icon-behance"></span></span></a></div>

                            <div class="ish-sc-element ish-sc_icon ish-simple ish-color1 ish-tooltip-color1 ish-tooltip-text-color3" data-type="tooltip" title="Subscribe to our newsletter"><a href="#" style="color: #ffffff; background-color: #fcbf20;" target="_blank"><span><span class="ish-icon-email"></span></span></a></div>
                          -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- Content part section -->
            <section class="ish-part_content ish-blog ish-blog-classic ish-with-sidebar">

                <div class="ish-row ish-row-notfull ish-with-sidebar">
                    <div class="ish-row_inner">
                        <div class=" ish-pc-content ish-grid9 ish-with-sidebar ish-with-left-sidebar">
                            <div class="wpb_row vc_row-fluid ish-row-notfull ish-row_section ish-section-filter">
                                <div class="ish-vc_row_inner">
                                    <div class="ish-sc-element ish-sc_headline ish-center ish-h3">Categories</div>
                                    <nav>
                                        <ul>
                                            <li class="ish-all current-cat"><a href="/Boards" class="ish-all-link">All</a></li>
                                            <li class="cat-item cat-item-61"><a href="/Codes">코드게시판</a>
                                            </li>
                                            <li class="cat-item cat-item-71"><a href="/Resources">자료게시판</a>
                                            </li>
                                            <li class="cat-item cat-item-62"><a href="/Questions">질문게시판</a>
                                            </li>
                                            <!--
                                            <li class="cat-item cat-item-63"><a href="#">Remote Working</a>
                                            </li>
                                            <li class="cat-item cat-item-72"><a href="#">Security</a>
                                            </li>
                                            <li class="cat-item cat-item-70"><a href="#">Stress</a>
                                            </li>
                                            <li class="cat-item cat-item-64"><a href="#">Time Management</a>
                                            </li>
                                            <li class="cat-item cat-item-66"><a href="#">Time Off</a>
                                            </li>
                                            <li class="cat-item cat-item-65"><a href="#">Video</a>
                                            </li>
                                            <li class="cat-item cat-item-73"><a href="#">WordPress</a>
                                            </li>
                                          -->
                                        </ul>
                                    </nav>

                                </div>
                                <div style=" white-space:nowrap; margin:0 auto;" id="search-2">
                                    <form role="search" method="post" id="searchform" action="/Boards">
                                      <span>
                                        <select name="searchCategory" style = "width:20%;">
                                          <option value="1">작성자</option>
                                          <option value="2">제목</option>
                                        </select>
                                      </span>
                                      <input style="width:50%;" type="text" value="" name="search" id="s" placeholder="Search...">
                                      <a ><button style="border:none" class="ish-sc-element ish-sc_button ish-small ish-color1 ish-text-color3">검색</button></a>
                                    </form>
                                </div>
                                <a href="/BoardsWrite"><button style="border:none;" class="ish-sc-element ish-sc_button ish-small ish-color1 ish-text-color3 ish-right">글 쓰러 가기</button></a>
                            </div>
                            <% if(results !== undefined){ %>
                              <% for(var i = results.length-1 ; i >= 0; i--){ %>

                                <div class="wpb_row vc_row-fluid ish-row-notfull ish-row_notsection ish-color2 post-2470 post type-post status-publish format-image has-post-thumbnail hentry category-productivity category-stress category-time-management post_format-post-format-image">
                                  <div class="ish-vc_row_inner">

                                    <h2><a href="/BoardsShow/<%= results[i]._id %>"><%= results[i].title %></a></h2>
                                    <span class="ish-blog-post-details">
                                      작성시간
                                      <%= results[i].create_at_year %>
                                      <%= results[i].create_at_hour %>


                                      <a href="#"><time class="timeago" datetime="<%= results[i].create_at %>"></time></a>
                                      <span>by</span> <a href="#" title="Posts by IshYoBoy.com" rel="author">@<%= results[i].author %></a> <span>in category</span>

                                      <% if(results[i].category == '1'){ %>
                                        <a href="#" rel="category tag">자료게시판</a>
                                      <%} else if(results[i].category == '2'){%>
                                        <a href="#" rel="category tag">질문게시판</a>
                                      <%} else{ %>
                                        <a href="#" rel="category tag">코드게시판</a>
                                      <%}%>

                                    </span>

                                    <span class="ish-blog-post-links">
                                      <% var j=0; %>

                                      <% for(var k=0;k<comms.length;k++){ %>
                                        <% if(results !== undefined){ %>
                                          <% if(comms !== undefined){ %>
                                            <% if(comms[k].where == results[i]._id){ %>
                                              <% j++; %>
                                      <% }}}} %>
                                      <i class="ish-icon-chat"></i><%= j %>
                                      <% if(results[i].file.length !== 0){ %>
                                      &nbsp; <small>첨부 파일 : </small>
                                      <%= results[i].file.length %>
                                      <%}%>
                                    </span>

                                  </div>
                                </div>
                                <% }} %>
                                </br></br></br></br></br></br></br></br></br></br></br></br></br>
                        </div>


                        <div class="ish-grid3 ish-main-sidebar ish-left-sidebar" id="sidebar">
                            <div class="ish-row ish-row-notfull">
                                <div class="ish-row_inner">

                                </div>
                            </div>
                            <div class="ish-row ish-row-notfull">
                                <div class="ish-row_inner">
                                    <div id="recent-posts-2" class="ish-grid3 widget-2 widget widget_recent_entries">
                                        <h4 class="widget-title">최근 게시물</h4>

                                        <div class = "overflowHidden">
                                        <ul>
                                          <% for(var i = results.length-1 ; i >= results.length-4; i--){ %>
                                            <% if(results[i] !== undefined){ %>
                                            <li>
                                                <a href="/BoardsShow/<%= results[i]._id %>"><%= results[i].title %></a>
                                            </li>
                                          <% }} %>
                                        </ul>
                                      </div>

                                    </div>
                                </div>
                            </div>
                            <div class="ish-row ish-row-notfull">
                                <div class="ish-row_inner">
                                    <div id="recent-posts-2" class="ish-grid3 widget-2 widget widget_recent_entries">
                                        <h4 class="widget-title">최근 댓글</h4>
                                        <div class="overflowHidden">
                                        <ul>
                                          <% for(var i = comms.length-1 ; i >= comms.length-4; i--){ %>
                                            <% if(comms[i] !== undefined){ %>
                                            <li>
                                                <a href="/BoardsShow/<%= comms[i].where %>"><%= comms[i].input %></a>
                                            </li>
                                          <% }} %>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>


                            <!--
                            <div class="ish-row ish-row-notfull">
                                <div class="ish-row_inner">
                                    <div id="ishyoboy-recent-portfolio-widget-3" class="icon-clock ish-grid3 widget-5 widget widget_ishyoboy-recent-portfolio-widget">
                                        <h4 class="widget-title">Latest Portfolio Projects</h4>
                                        <ul class="recent-projects-widget">
                                            <li>
                                                <a href="../../portfolio/record-player/index.html"><img width="200" height="200" src="upload/record-player-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="record-player"  /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/handkerchief/index.html"><img width="200" height="200" src="upload/handkerchief-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="handkerchief" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/office-guy/index.html"><img width="200" height="200" src="upload/03-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="03" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/plane/index.html"><img width="200" height="200" src="upload/Plane_Wallpaper_Desktop-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="Plane_Wallpaper_Desktop" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/uuuu-dr/index.html"><img width="200" height="200" src="upload/uuuu-dr-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="uuuu-dr" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/neuquen/index.html"><img width="200" height="200" src="upload/neuqen-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="neuqen" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/s-red/index.html"><img width="200" height="200" src="upload/s-red-200x200.png" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="s-red" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/dead-rising-g/index.html"><img width="200" height="200" src="upload/DeadRisingG-200x200.png" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="DeadRisingG" /></a>
                                            </li>
                                            <li>
                                                <a href="../../portfolio/hug-the-cactus/index.html"><img width="200" height="200" src="upload/Hug-the-Cactus-200x200.jpg" class="attachment-theme-thumbnail size-theme-thumbnail wp-post-image" alt="Hug-the-Cactus" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ish-row ish-row-notfull">
                                <div class="ish-row_inner">
                                    <div id="ishyoboy-twitter-widget-2" class="ish-grid3 widget-6 widget widget_ishyoboy-twitter-widget">
                                        <h4 class="widget-title">Latest Tweets</h4>
                                        <p>Lorem ipsum dolor sit amet dragonbal apocalipto ja ka nis qitash fank ju very mach</p>

                                        <a class="ish-button-small" href="#">Follow us on Twitter</a>

                                    </div>
                                    <div class="space"></div>

                                </div>
                            </div>
                          -->
                        </div>

                    </div>
                </div>

            </section>
            <!-- Content part section END -->


            <!-- Footer part section -->
            <section class="ish-part_footer" id="ish-part_footer">
                <div class="ish-row ish-row-notfull">
                    <div class="ish-row_inner">
                        <div id="text-2" class="ish-grid6 widget-1 widget widget_text">
                          <p><img style = "height: 80px" src="/images/Miro_logo_clear_white.png" alt=""></p>
                            <div class="textwidget">
                                <p>Copyright ⓒ MIRO Since 2018. All rights reserved.</p>
                            </div>
                        </div>
                        <div id="ishyoboy-recent-portfolio-widget-2" class="icon-clock ish-grid3 widget-2 widget widget_ishyoboy-recent-portfolio-widget">
                          <h3>Total Visitors ></h3></br>
                             <a href="http://www.reliablecounter.com" target="_blank"><img src="https://www.reliablecounter.com/count.php?page=192.168.219.130:3000/&digit=style/plain/1/&reloads=0" alt="website visitor counter html code" title="website visitor counter html code" border="0"></a><br /><a href="http://www.reliablecounter.com/de/" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;"></a>
                        </div>
                        <div id="text-3" class="ish-grid3 widget-3 widget widget_text">
                            <div class="textwidget">
                              <p style="text-align: center;">PROUDLY POWERED BY <a href="#" title="Html">HTML</a> ~ CREATED BY @Baeisan @Parkjihyeon @Kimsuhyeon</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Footer part section END -->


        </div>
        <!-- Wrap whole page - boxed / unboxed END -->

        <a href="#top" class="ish-back_to_top ish-smooth_scroll ish-icon-up-open"></a>

    </div>
    <!-- ish-body END -->

    <!--[if lte IE 8]><script src="http://themes.ishyoboy.com/boldial/wp/wp-content/themes/boldial/assets/frontend/js/ie8.js"></script><![endif]-->
    <script type="text/javascript">
   jQuery(document).ready(function() {
     $("time.timeago").timeago();
   });
   </script>

    <script type='text/javascript' src='js/LayerSlider/static/js/greensock.js'></script>
    <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/packery.pkgd.min.js'></script>
    <script type='text/javascript' src='js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='js/jquery.scrollTo-1.4.3.1-min.js'></script>

    <script type='text/javascript' src='js/contact-form.js'></script>
    <script type='text/javascript' src='js/ishyoboy-shortcodes.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var php_array = {
            "admin_ajax": "http:\/\/themes.ishyoboy.com\/boldial\/wp\/wp-admin\/admin-ajax.php"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='js/widgets.js'></script>
    <script type='text/javascript' src='js/jquery-blockui/jquery.blockUI.min.js'></script>

    <script type='text/javascript' src='js/frontend/woocommerce.min.js'></script>
    <script type='text/javascript' src='js/frontend/cart-fragments.min.js'></script>
    <script type='text/javascript' src='js/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='js/ish_jquery.tooltipster.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var iyb_globals = {
            "header_height": "100",
            "sticky_height": "50",
            "colors": {
                "color1": "#494c43",
                "color2": "#acaea9",
                "color3": "#f9f9f9",
                "color4": "#ffffff",
                "color5": "#fcd14c",
                "color6": "#75a7c0",
                "color7": "#eb7244",
                "color8": "#98bb56",
                "color9": "#f45e78",
                "color10": "#8b6c93",
                "color11": "#ee5454",
                "color12": "#9D7136",
                "color13": "#dedede",
                "color14": "#81dbda",
                "color15": "#7a7a7a",
                "color16": "#ed2f21",
                "color17": "#ffffff",
                "color18": "#ffffff",
                "color19": "#ffffff",
                "color20": "#ffffff"
            }
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='js/main.js'></script>
    <script type='text/javascript' src='js/tweetMachine.js'></script>
    <script type='text/javascript' src='js/jquery.jribbble.min.js'></script>
    <script type='text/javascript' src='js/js_composer_front.min.js'></script>
    <script type='text/javascript' src='js/jquery.backgroundpos.min.js'></script>
    <script type='text/javascript' src='js/jquery.parallax-1.1.3.js'></script>
    <script type='text/javascript' src='js/jquery.easing-1.3.pack.js'></script>
    <script type='text/javascript' src='js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;callback=initialize&amp;ver=4.4.2'></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var thumbnails = jQuery("a:has(img)").not(".nolightbox").filter(function() {
                return /\.(jpe?g|png|gif|bmp)$/i.test(jQuery(this).attr('href'))
            });

            if (thumbnails.length > 0) {
                thumbnails.addClass('openfancybox-image').attr('rel', 'fancybox-post-image-2648');
            }
        });
    </script>
    <script type='text/javascript'>
        /* <![CDATA[*/
        var ishyoboy_fe_globals = {
            IYB_RESPONSIVE: true,
            IYB_BREAKINGPOINT: 768
        };
        /* ]]> */
    </script>
</body>
</html>
